body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bg-image {
    background-image: url("/assets/bg.png");
    background-color: white;
    height: 100px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  
  input[readonly] {
    background-color: lightgray !important;
  }

  #confetti{
    background: white;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  div.ui.yellow.compact.message {
    background-color: white !important;
    color: black !important;
  }

  div.ui.yellow.compact.message div.header{
    background-color: white !important;
    color: black !important;
  }



  /* STEPPER */

.pg-container {
    width: 1000px;
    margin-bottom: 150px;
    /* display: flex !important;
    justify-content: start !important;
    align-items: center !important; */
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 14%;
    float: left;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    text-align: center;
    /* text-transform: uppercase; */
    color: #7d7d7d;
}
.progressbar li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 40px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: lightgray;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 20px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #41ad4f;
}
.progressbar li.completed::before {
  background-color: white;
}
.progressbar li.active:before {
    background-color: #41ad4f;
    color: white;
    border-color: #41ad4f;
}
.progressbar li.active + li:after {
    background-color: #41ad4f;
}