body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .bg-image {
    background-image: url("/assets/bg.png");
    background-color: white;
    height: 100px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  
  input[readonly] {
    background-color: lightgray !important;
  }

  #confetti{
    background: white;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  div.ui.yellow.compact.message {
    background-color: white !important;
    color: black !important;
  }

  div.ui.yellow.compact.message div.header{
    background-color: white !important;
    color: black !important;
  }